 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Lucas got into Data Science while working in the Polymer Industry, where he was designing and synthesizing additives for biodegradable plastics. He realized he enjoyed finding meaning in data, more than its collection. </p>
                </div>
                <div class="col-lg-4">
                    <p> When he's not busy working on exciting Data Science problems, Lucas loves listening to music and getting out into nature. He's an active surfer and snowboarder, and loves exploring far off places in the world. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://raw.githubusercontent.com/lucasramadan/lucasramadan.github.io/master/Lucas_Ramadan_Resume.pdf" class="btn btn-lg btn-outline" download="Lucas_Ramadan_Resume.pdf">
                        
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>